{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Сайт Блоггеров</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <div class="header">
        <h2>Автор блога: {{ blog.author }}</h2>    
    </div>
    <div class="main">
        <div class="left">
            {% for blog in blog %}
               <h4>{{ blog.title }}</h4>
               <p><i>Автор: {{ blog.author }}, Дата публикация: {{ blog.publish }}</i></p>
               <p>{{ blog.body }}</p>
            {% empty %}
                <p>Блоггеров ещё нет.</p>
            {% endfor %}
        </div>
        <div class="right">
        </div>
    </div>
    <div class="footer">
        <h3><i>Copyright, 2016</i></h3>    
    </div>
</body>

</html>