{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Сайт Блоггеров</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>

<body>
  
<div class="wrapper">
    <div class="header">
        <h2>Главная страница Блоггеров</h2>    
    </div>
    <div class="main">
        
        
        <div class="left">
            {% for bloger in blogers %}
            <a href="/blog/{{ bloger.author_id }}" class="items" alt="" target="_blank">
                <img src="http://placehold.it/80x100">
                <span class="title">{{ bloger.author }}</span>
            </a>
            {% empty %}
                <p>Блоггеров ещё нет.</p>
            {% endfor %}
        </div>


        <div class="right">
            &nbsp;&nbsp;<a href="/admin" target="_blank" alt="">Управления блога</a>
            <p>&nbsp;&nbsp;Логин: admin</br>&nbsp;&nbsp;Парол: 1234567h</p>
            <hr>
            &nbsp;&nbsp;<a href="/blog" target="_blank" alt="">Все посты</a>
        </div>
    </div>

    <div class="footer">
        <h3><i>Copyright, 2016</i></h3>    
    </div>
    
</body>
</html>