.wrapper{
    width : 1000px;
    margin : 0 auto;
    background-color: #88B04B; /* Цвет фона */
    background: linear-gradient(transparent 5%, #88B04B 95%);
}
.wrapper .header{
    width: 1000px;
    height: 60px;
    background: #88B04B;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
}
.wrapper .main .left{
    width: 560px;
    min-height: 600px;
    background: #88B04B; /* Для старых браузров */
    background: linear-gradient(to bottom, #88B04B, #fefcea);
    display: inline-block;
    border: 1px solid;
    vertical-align: top;
    font-size: 14;
}
.wrapper .main .left .items {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background: #88B04B;
    width: 80px;
    min-height: 100px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.wrapper .main .left .items img{
    display: block;
} 
.wrapper .main .left .items .title{
    display: block;
    font-size: 12px;
    margin-top: 3px;
}
.wrapper .main .right{
    width: 410px;
    margin-left: 22px;
    min-height: 600px;
    background: #88B04B; /* Для старых браузров */
    background: linear-gradient(to bottom, #88B04B, #fefcea);
    display: inline-block;
    border: 1px solid;
    vertical-align: top;
    font-size: 14;
} 
.wrapper .footer{
    width: 1000px;
    height: 40px;
    background: #88B04B;
    text-align: center;
    vertical-align: middle;
}